In [7]:
import pandas as pd
import polars as pl
import json

### Authors

In [8]:
df = pd.read_json('goodreads_book_authors.json', lines=True)

In [19]:
df = df.drop(columns='text_reviews_count')
df

        average_rating  author_id              name  ratings_count
0                 3.98     604031  Ronald J. Fields             49
1                 4.08     626222     Anita Diamant         546796
2                 3.92      10333    Barbara Hambly         122118
3                 3.68       9212   Jennifer Weiner         888522
4                 3.82     149918     Nigel Pennick           1740
...                ...        ...               ...            ...
829524            4.36     197551     Patty Furbush             11
829525            4.33    3988103    Jim Schlinkman              6
829526            4.00   13464507        Rich Jolly             18
829527            3.31    7427847         sr@ mwrGn             13
829528            3.70    5401342    Barry S. Brown             43

[829529 rows x 4 columns]

### Interactions

In [5]:
interact_path = "C:/Users/Usuario/Datos/goodreads_interactions.csv"
new_path = "C:/Users/Usuario/Datos/interactions_filtered.csv"

# Lee el archivo CSV
df = pl.read_csv(interact_path)

# Filtra las filas donde is_read == 0
df_filtrado = df.filter(pl.col('is_read') != 0)

# Guarda el resultado en un nuevo archivo CSV
df_filtrado.write_csv(new_path)

print("Filtrado completado. El archivo filtrado se ha guardado como 'archivo_filtrado.csv'.")

Filtrado completado. El archivo filtrado se ha guardado como 'archivo_filtrado.csv'.

In [9]:
final_path = "C:/Users/Usuario/Datos/interactions_sample.csv"
user_counts = df_filtrado.groupby('user_id').agg(pl.count('is_read').alias('count'))

# Paso 2: Seleccionar una muestra aleatoria de 20,000 user_id únicos
sampled_user_ids = user_counts.sample(n=20000, with_replacement=False).select('user_id')

# Paso 3: Filtrar el DataFrame original usando estos user_id seleccionados
df_sampled = df_filtrado.join(sampled_user_ids, on='user_id', how='inner')

df_sampled.write_csv(final_path)

# Verificar el resultado
print(df_sampled.shape)
print(df_sampled.head())

C:\Users\Usuario\AppData\Local\Temp\ipykernel_10080\4251902593.py:2: DeprecationWarning: `groupby` is deprecated. It has been renamed to `group_by`.
  user_counts = df_filtrado.groupby('user_id').agg(pl.count('is_read').alias('count'))

(2699934, 5)
shape: (5, 5)
┌─────────┬─────────┬─────────┬────────┬─────────────┐
│ user_id ┆ book_id ┆ is_read ┆ rating ┆ is_reviewed │
│ ---     ┆ ---     ┆ ---     ┆ ---    ┆ ---         │
│ i64     ┆ i64     ┆ i64     ┆ i64    ┆ i64         │
╞═════════╪═════════╪═════════╪════════╪═════════════╡
│ 102     ┆ 670     ┆ 1       ┆ 5      ┆ 0           │
│ 102     ┆ 998     ┆ 1       ┆ 5      ┆ 0           │
│ 102     ┆ 996     ┆ 1       ┆ 5      ┆ 0           │
│ 102     ┆ 12971   ┆ 1       ┆ 5      ┆ 0           │
│ 102     ┆ 43      ┆ 1       ┆ 5      ┆ 0           │
└─────────┴─────────┴─────────┴────────┴─────────────┘